---
import '../styles/faq.css'
import {Image} from 'astro:assets';
import FaqImage from '../assets/faq-1.webp';

---

<section class="faq">
<div class="faq-cont">
    <div class="faq-grid">

      <div class="faq-izq">
        <Image src={FaqImage} alt="Plankton-Logo" class="faq-img" 
        />
      </div>

        <div class="accordion">
          <h1>
            Preguntas <br>Frecuentes
          </h1>
            <div class="accordion-item active">
              <button class="accordion-button">¿Qué necesito para colaborar con Tecno Logo?</button>
              <div class="accordion-content">
                Para crear tu innovación en Tecno Logo, solo necesitas proporcionar algunos datos básicos para la verificación de identidad . El proceso es rápido, digital y totalmente seguro, permitiéndote empezar a gestionar tus innovación en pocos minutos.
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">¿Cómo asegura Tecno Logo la seguridad de mis innovaciones?</button>
              <div class="accordion-content">
                En Tecno Logo, tomamos la seguridad muy en serio. Utilizamos tecnología de cifrado de última generación, además de implementar políticas de innovación Nuestros protocolos de seguridad están diseñados para monitorear y proteger tus innovaciones continuamente, identificando y mitigando cualquier riesgo de manera efectiva.
              </div>
            </div>
            <div class="accordion-item">
              <button class="accordion-button">¿Puedo integrar Tecno Logo con otros servicios?</button>
              <div class="accordion-content">
                
                Sí, Tecno Logo ofrece amplias opciones de integración con otros servicios. Nuestra plataforma permite conectar fácilmente una variedad de sistemas innovadores y APIs de terceros, lo que te proporciona una increíble flexibilidad para ampliar las capacidades de tu innovación según tus necesidades.
              </div>
            </div>
          </div>

    </div>

</div>
</section>

<script type="module" src="/scripts/acordeon.js"></script>
