---
import '../styles/mainhead.css'
---

<section class="Mainhead">

    <div class="mainhead-cont">
        
        <h3 class="animacionmainh3">Tecnología a la medida</h3>
        <h1>Soluciones Tecnológicas Personalizadas</h1>
        <div class="flotante">
            <p class="animacionmainp">Lorem Ipsum is simply dummy text of the printing   <br>
                and typesetting industry.Lorem Ipsum <br>
                has been the industry's standard dummy <br>
                text ever since the 1500s.
            </p>
        </div>
    </div>

</section>




