---

import '../styles/serviciosdestacados.css';

---

<section class="serv-des">
    <div class="dest-cont">
        <div class="text-servdesc">

      
        <h4>
            SERVICIOS
        </h4>

        <h1>
            Servicios Destacados
        </h1>

        <p>
            Tecno Logo te ofrece soluciones avanzadas para una gestión segura y eficiente


        </p>
    </div>
        <div class="servicios-dest-grid">

            <div class="grid-1">
                <i class="bi bi-credit-card-2-front"></i>

                <h3>
                    Lorem Ipsum
                </h3>
                
                <span>
                    Diseña tu innovación digital con total libertad y seguridad.
                </span>
            </div>

            <div class="grid-2">
                <i class="bi bi-cash-coin"></i>
                <h3>
                    Lorem Ipsum
                </h3>
                
                <span>
                    Innovación sin <br> complicaciones.
                </span>
            </div>

            <div class="grid-3">
                <i class="bi bi-shield-slash"></i>
                <h3>
                    Lorem Ipsum
                </h3>
                
                <span>
                    Protección integral contra <br> ataques.
                </span>
            </div>

            <div class="grid-4">
                <i class="bi bi-person-bounding-box"></i>
                <h3>
                    
                    Lorem Ipsum
                </h3>
                
                <span>
                    Verificación de identidad para innovar.
                </span>
            </div>

        </div>

    </div>

</section>