---
import '../styles/texto.css';

---

<section class="texto">
    <div class="texto-cont">

        <div class="marquee">
            <p>Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo • 
                Tecno Logo • Tecno Logo • Tecno Logo •Tecno Logo • Tecno Logo • Tecno Logo •  </p> 
          </div>
          

    </div>

</section>

